<header class="navbar navbar-inverse navbar-fixed-top ani-nav" role="banner">
    <div class="navbar-header">
        <a href="github.com/zubair" class="navbar-brand">ZA</a>
    </div>
    <div class="navbar-collapse collapse">
        <nav class="navbar-logo">
            <ul class="nav navbar-nav">
                <li><a href="#/">Welcome</a></li>
                <li><a href="#/welcome2">Welcome 2</a></li>
                <li><a href="#/welcome3">Welcome 3</a></li>
                <li><a href="#/modalWindow">Modal</a></li>
                <li><a href="#/dataSource">DataSource</a></li>
                <li><a href="#/globalEvents">Events</a></li>
                <li><a href="#/order">Order</a></li>
                <li><a href="#/dataVizualization">Data Vizualization</a></li>
            </ul>
        </nav>
    </div>
</header>